.todo-container {

    margin: 20px;
    width: 100%;
    text-align: center;
}

.todo-title {
    font-size: 25px;
    font-weight: 600;
    color: blue;
    margin-bottom: 15px 0;
    text-align: center;
}

.todo-new {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.todo-data {
    margin: 20px 400px 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #ccc;
    gap: 15px;
    padding: 15px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion:no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}

/* @media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
} */